.list-container {
  display: flex;
  flex-flow: column wrap;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  @include tablet {
    flex-flow: column wrap;
    width: 80%;
  }
}
.list-select {
  width: 100%;
  text-align: right;
  padding: rem(30) 0;
}
.list-selectBox {
  width: rem(300);
}
.list-content {
  display: flex;
  flex-flow: column wrap;
  @include tablet {
    flex-flow: row wrap;
  }
}
.list-items {
  margin-right: 1%;
  margin-left: auto;
  width: 80%;
  transition: .25s ease-in-out;
  @include tablet {
    width: 25%;
  }
}